<div>
  <h1>This is your booking
  </h1>
</div>

<div>
  <p>Your booking on the <%= @booking.date%></p>

  <p>Starts at <%= @booking.start_time.strftime("%k:%M")%> and ends at <%= @booking.end_time.strftime("%k:%M")%></p>

</div>


